@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: #2e333d;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html body #root {
    height: 100vh;
}

/*.scrollBar {*/
/*    &::-webkit-scrollbar {*/
/*        width: 5px;*/
/*    }*/
/*    &::-webkit-scrollbar-thumb {*/
/*        border-radius: 10px;*/
/*        background-color: red;*/
/*        background-image: -webkit-gradient(linear, 0 0, 0 100%,*/
/*        color-stop(.5, rgb(192, 192, 192)),*/
/*        color-stop(.5, transparent), to(transparent));*/
/*    }*/
/*}*/
